@model FIT5032_BetterLife.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="register" style="height:500px">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group date" data-provide="datepicker" data-date-format="mm/dd/yyyy">

            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })

            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
           
        </div>
        <link href="~/Contents/bootstrap-datepicker.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
        <div class="g-recaptcha" data-sitekey="6LecmXQUAAAAAAv_ZC8FVU57POGxf3fJ6t5a9ea-"></div>
            <div>
                @if (TempData["recaptcha"] != null)
                {
                    <p>@TempData["recaptcha"]</p>
                }
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    }
    <br>
</div>
            <style>
                .input-group-addon {
                width:20px
                }
                .btn {
                background-color:transparent;
                border-color:white
                }
            </style>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
